/* CSS Document */
.similar_properties_blk .owl-carousel .owl-item img {
     width: 100%; 
     border-radius:0px; 
	 height: 172px;
}
.images-property {
	position: relative;
}
.property-thumb-holder {
	padding:0px;
}
.carosal-holder
{
	position:relative;
}
.property-thumb-section
{	
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
}
.property-thumb-section .owl-carousel .owl-wrapper-outer
{
	padding-top:30px;
}
.property-thumb-section .owl-carousel .owl-item a.active {
    background: rgba(0,0,0,0.9);
	position:relative;
}
.property-thumb-section .owl-carousel .owl-item a.active:before 
{
	    content: '';
    display: block;
    position: absolute;
    left: 25px;
    top: -29%;
    /* margin-top: -10px; */
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0a0a07;
    border-left: 10px solid transparent;
    z-index: 9999;
}
.wp-cont
{
	width: 100%;
    position: absolute;
	    bottom: 80px;
}

.wp-cont .carosal-holder { width:70%; margin:0 auto;}

@media screen and (max-width: 1199px)  {
	.wp-cont .carosal-holder { width:80%; margin:0 auto;}
}
@media screen and (max-width: 767px)  {
	.wp-cont .carosal-holder { width:90%; margin:0 auto;}
	.navbar #navbar ul { margin:0; width:100%;}
	#contact_page.page-template-edit-profile-php .user_photo { margin:0 auto 40px;}
	.asce_desce { position: relative; margin-top:20px;	}
	.jumbotron h2.border-title span:before,
	.jumbotron h2.border-title span:after,
	.title_group.border-blue-title span:before,
	.title_group.border-blue-title span:after { display: none}
	.title_group.border-blue-title span { display: block; text-align: center;}
	nav.navbar { height: 67px;}
	.navbar #navbar { background: #fff; padding: 0; }
	.navbar #navbar .navbar-right li.login { padding: 0; }
	.navbar #navbar .navbar-right li.login a { border: none; display: block; padding: 10px 15px; }
	
	.smpl-step { margin-top: 0; margin-bottom: 0; }
	.smpl-step > .smpl-step-step .smpl-step-icon {  width: 95px; height: 95px;     left: 0;    margin-top: -22px;   margin-left: 15px;     padding-top: 23px;     line-height: 14px;  font-size: 13px;}
	.smpl-step > .smpl-step-step.active .smpl-step-icon { color: #fff; padding-top: 23px; font-size: 13px; }
	
	#contact_page .contact-form { padding: 10px 20px; }
	.jumbotron.signuppage ul li { width: 90%; padding: 0 5% 10px 7%;}
	.panel-group .panel-default .panel-heading a .fa { display: block !important;     margin-right: -10px; margin-top: -15px; }
	
	#menu-footer-menu { margin: 0;  padding: 0;}
	#menu-footer-menu li {     margin-bottom: 14px; line-height: 10px;}
}

@media screen and (max-width: 479px)  {
	.wp-cont .carosal-holder { width:100%; margin:0 auto;}
}

@media screen and (min-width: 1024px)  {
	.jumbotron.signuppage ul {     padding: 0 0 0 5%;     width: 100%;}
}


div.jumbotron { background: #004b7f; }

form.edit-form .form-group input, 
form.edit-form .form-group select {     padding: 10px 0; }


.property-thumb-section .owl-carousel .owl-buttons .owl-prev, 
.property-thumb-section .owl-carousel .owl-buttons .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    height: 30px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0;
	display:none;
}


.property-thumb-section .owl-carousel .owl-wrapper-outer .owl-item
{
	padding:0px;
}

.property-thumb-section .owl-carousel .owl-item img {
    width: 60px;
    border-radius:0px;
	    height: 60px;
}

.property-thumb-section .owl-carousel .owl-item a {
    float: left;
    width: 70px !important;
    padding: 5px;
    background: rgba(255,255,255,0.7);
}

.property-thumb-holder a {
	margin-right: 5px;
}
.property-thumb-holder a img {
	    width: 100%;
}
.title_top {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 9;
	padding: 6px 0;
}
.title_top h1 {
	color: #fff;
	font-weight: normal;
	font-size: 20px;
	line-height: 15px;
	margin-bottom: 0px;
	padding: 10px 10px 0px 10px !important;
	text-align: left;/* padding: 0px; */
}
.title_top h2 {
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	/* margin-bottom: 0px; */

	text-align: left;
	padding-top: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
}
.attachment-shop_single {
	width: 100%;
   		height: 500px !important;
}
.barWrapper .tooltip {
	position: relative;
	float: right;
}
.tooltip > .tooltip-inner {
	background-color: #fff;
	padding: 5px 10px;
	color: rgb(23,44,66);
	font-weight: bold;
	font-size: 13px;
}
.popOver + .tooltip > .tooltip-arrow {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #ffffff;
}
section {
	margin: 100px auto;
	height: 1000px;
}
.progress {
	border-radius: 0;
	overflow: visible;
}
.progress-bar {
	background: rgb(0, 100, 157);
	-webkit-transition: width 1.5s ease-in-out;
	transition: width 1.5s ease-in-out;
}
.barWrapper .progress {
	height: 3px;
}
.past-opportunities {
	background: #383838;
	display: block;
	padding: 30px 0;
}
.upcoming {
	background: #eef2f3;
}
.investment_grid_view .wp-post-image {
	height: 231px;
}
.team_blk h4 {
	text-transform: none;
}
.team_blk .team_member h4 {
	text-transform: uppercase;
}
.navbar #navbar ul li.current-menu-item,
.navbar #navbar ul li.current_page_item {
	color: #28a7ce;
	background: #f3f3f3;
}
.jumbotron.signuppage ul li {
	background: url(../images/icon-bullet.png) no-repeat 0 9px;
}
.navbar #navbar .navbar-right li,  .navbar #navbar .navbar-right {
	background: #004b7f;
}
 @media screen and (min-width: 992px) {
.navbar #navbar .navbar-right:before {
	border-right: 50px solid #004b7f;
	left: -71px;
}
}
 @media screen and (max-width: 767px) {
.jumbotron h3 {
	font-size: 27px;
}
.jumbotron .search_blk input[type="text"] {
	margin-bottom: 0;
}
/*.jumbotron .search_blk input[type="submit"] {
	position: absolute;
	right: 10px;
	top: 10px;
} */
.jumbotron.homepage {
	padding-top: 40px;
	min-height: 350px;
	border-bottom: solid 0 #28a7ce;
}
.how_it_works {
	display: none;
}
.jumbotron .search_blk {
	margin-top: 34px;
}

}
.barWrapper .tooltip {
	position: relative;
	float: right;
	    z-index: 99;
}
.light_grey_bg {
	background: #e8edef;
}
p.err-step {
	border: 1px solid #bd251a;
	padding: 3px 10px;
	border-radius: 2px;
	background: #eaa5a5;
	color: #ad1010;
}
.download_docs .dowloaded:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	content: "\f00c";
	padding-right: 10px;
	color: #3c763d;
	position: absolute;
	top: 15px;
	font-size: 18px;
}
.step_content .step_content_area .download_docs li {
	position: relative;
}
.step_content .step_content_area .download_docs li a span {
	padding-left: 25px;
}
form#step2_form label.error {
	color: #ff1100;
}
form#step3_form label.error {
	color: #ff1100;
}

.full_width {
	position:relative;
}

.full_width  .bg_overlay {
	position:absolute;
	z-index:0;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: url(../images/img-overlay-pattern.png) repeat 0 0;
}


.similar_properties_blk .owl-carousel .owl-item img {
    width: 100%;
    border-radius: 0px;
    height: 172px;
}

.full_width .images-property {
/*	height:695px;*/
	overflow:hidden;
}

@media screen and (max-width: 767px)  {
	.full_width .images-property {
		height:425px;
		overflow:hidden;
	}
}

body.admin-bar .navbar-fixed-top {
    top: 32px;
}
.navbar-default ul.navbar-right > .open > a:focus,
.navbar #navbar ul.navbar-right li a:hover,
.navbar-default .navbar-nav > .open > a {
	background: #0e64a0;
}

.navbar-nav > li > .dropdown-menu {
	min-width: 221px;
	padding: 0;
	top: 100%;
	border:solid 1px #29628a !important;
	border-bottom:0 !important;
	border-radius:0 !important;
}

.navbar-nav > li > .dropdown-menu > li { 
	border-bottom:solid 1px #29628a !important;
}

.btn-readmore:hover { color: #fff;}

.page-template-step-template .jumbotron h2.border-title span,
.jumbotron.signuppage h2.border-title span {
	text-transform: none;
	font-family: "Gotham-Light";
}

.comment-investment-amount label {
	font-family: "Gotham-Bold";
}

.comment-investment-amount .input-group  {
	position:relative;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}

.smpl-step > .smpl-step-step.completed .smpl-step-icon {
	background:#fff;
}

.comment-investment-amount .input-group  input {
	padding-left:40px;
}

.additional_field_b .filed_inside .form-invest .input-group { position:relative; width:auto; display:inline-block; }
.additional_field_b .filed_inside .form-invest span,
.comment-investment-amount .input-group span {
	position:absolute;
	top:0;
	left:0;
	font-size:20px;
	color:#999;
	font-size:22px;
	z-index:99;
	line-height: 42px;
    width: 40px;
    background: transparent;
    border: none;
}

.progress_block .barWrapper {
	margin-top: 55px;
}



.image_blk_r .image_blk_content h4 {
	text-transform: none !important;
}

.woocommerce .images-property img, .woocommerce-page .images-property img {
	width: auto;
    height: auto !important;
    min-width: 100%;
    min-height: 100%;
}

.navbar #navbar .navbar-right .dropdown-menu li a {
	    font-size: 13px;
}

.navbar #navbar { float:right;}
.navbar #navbar ul#menu-login-user-menu,
.navbar #navbar ul#menu-main-menu {  margin-right: 50px;}
@media screen and (min-width: 768px)  {
.navbar #navbar ul#menu-login-user-menu li:last-child,
.navbar #navbar ul#menu-main-menu li:last-child { border-right:none}
}
.navbar #navbar ul.navbar-right li.user a { padding: 17px 20px 16px 10px;}


.step_content { position:relative;}

.step_content_1:before {
    content: " ";
    background: #28a7ce;
    width: 33.33%;
    height: 6px;
    position: absolute;
    z-index: 999;
    top: -6px;
}

.step_content_2:before {
    content: " ";
    background: #28a7ce;
    width: 33.33%;
    height: 6px;
    position: absolute;
    z-index: 999;
	left: 33.33%;
    top: -6px;
}

.step_content_3:before {
    content: " ";
    background: #28a7ce;
    width: 33.33%;
    height: 6px;
    position: absolute;
    z-index: 999;
	right:0;
    top: -6px;
}

form#reserv_spot_from label.error {
    color: #ff0000;
}
p.success-step {
    background: #4CAF50;
    color: #fff;
    border: 1px solid #287b2c;
    text-align: left;
    padding: 5px 10px;
    border-radius: 3px;
}

.logged-in #menu-footer-menu #menu-item-22 { border-right:none;}

.logged-in #menu-footer-menu #menu-item-156, .logged-in #menu-footer-menu #menu-item-155 { display:none;}



.signup_page #regiserForm .form-remember input {  margin-top: 7px;}

.slider-control  {
	position: absolute;
    top: -30px;
    right: 0;
	width:64px;
}

.slider-control .carousel-control {
	background:none;
	text-shadow:none;
	background-color:#e5e5e5;
	color:#727272;
	width:30px;
	height:26px;
	line-height:26px;
	text-align:center;
}

.step_content .step_content_area .form select,
#contact_page .contact-form select {
	height:55px;	border-radius:0;
}

ul.per_summary li span {
	font-family: "Gotham-Medium";
}

span.wpcf7-not-valid-tip { font-size: 1.1em;}
div.wpcf7-spam-blocked { clear: left; }

.contact-form .form { overflow:visible}
.contact-form .form p { position:relative}
.contact-form .form p .required { color:#ff0000; position:absolute; right:-14px; top:0; }
#contact_page .contact_info {   padding-left: 35px;}

#commentform label .required {color:#ff0000;  }


.comment-list ol.children > li.comment  { margin-top:10px;}

.signup_page .contact-form { overflow: hidden;}
.cat_products  .image_block.investment_list_view {     padding: 20px 0;}
form.edit-form .form-submit .btn {     text-transform: none;     min-width: auto; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}

#loginform label.error {     margin-left: 0; margin-top: 3px;}
.signup_page form.edit-form hr  { border-color: #fff;}

.signup_page form.edit-form .additional_field_b .form-invest select,
.signup_page form.edit-form .additional_field_b .form-invest input[type="text"] { width:175px !important; text-align: left; }
.signup_page form.edit-form .additional_field_b .form-invest input[type="text"] { padding:2px 5px 2px 32px;  }
.additional_field_b .filed_inside .form-invest span.input-group-addon {     line-height: 48px;     padding: 0; }

#contact_page.page-template-edit-profile .signup_page .contact-form form.edit-form  select { height:auto; outline: none;}

#contact_page.page-template-edit-profile-php .contact-form {     border-top: solid 5px #004b7f;}
h2.welcome_name { text-align:center; color:#004b7f;font-size:20px; margin-bottom:30px; text-transform: capitalize; font-family: "Gotham-Bold";}
#contact_page.page-template-edit-profile-php .user_photo { margin-bottom: 30px; height: 120px; width: 120px; overflow: hidden;     border-radius: 60px; -moz-border-radius: 60px; -webkit-border-radius: 60px; -ms-border-radius: 60px; }
.user_photo img {     margin: 0 auto; height: auto; min-height: 100%;  border-radius:inherit}

#contact_page .contact-form {  float: left; width: 100%;}

.investment_grid_view .investment_content .invest_title_group h3 { min-height: 44px;}

.cat_products.past-opportunities .investment_grid_view { padding: 20px 0; padding-bottom: 0;  }
.cat_products.past-opportunities .investment_grid_view .col-md-4 { margin-bottom: 30px; }

.team_blk .team_list .brief-content h4 { color: #000; text-shadow: none;}
.team_blk .team_list .brief-content p { color:#333;}

#comments .comment-form .form-submit .submit,
.btn-readmore { text-transform: none;}

.contact-form .wpcf7-form .form-submit .wpcf7-submit {    min-width: 40%; text-transform: uppercase; background: #28a7ce;     font-size: 18px;}
.contact-form .wpcf7-form .form-submit .wpcf7-submit:hover { background: #1287ab; }
.form .required { color: #ff0000}
.navbar #navbar .navbar-right li.user a img { width: 37px; height: 37px;}

.properties_det  .key_highlights .contact_question { margin: 0 -20px -20px -20px; width:auto; }
#comments .comment-form .logged-in-as  {  visibility: hidden;}

#comments .comment-respond { padding: 0;}
.comment-list .comment-reply-link:hover { border: 1px solid #00649d; color:#fff;}
.post-listing .post .content-post-all-meta ul li .scroll-d { display:none}

.image_blk_r .image_blk_content ul { list-style: none;  margin: 0;}
.image_blk_r .image_blk_content ul li { background:url(../images/icon-bullet.jpg) no-repeat 0 4px;     padding-left: 18px;}
.dashboard_content .nav-tabs { margin-bottom:10px;  border: none;} 
.dashboard_content .nav-tabs > li > a { border:0; border-right: solid 1px #ccc; border-radius: 0; text-transform: uppercase; color:#999; font-size: 16px;  	font-family: "Gotham-Bold";}
.dashboard_content .nav-tabs > li:last-child > a {border-right:none; }


.dashboard_content .nav-tabs > li > a:hover, 
.dashboard_content .nav-tabs > li > a:focus,
.dashboard_content .nav-tabs > li.active > a, 
.dashboard_content .nav-tabs > li.active > a:hover, 
.dashboard_content .nav-tabs > li.active > a:focus{  border-top:none;  border-left:none; border-bottom:none; background:none; color:#000;}

.download_files_db { list-style: none; margin: 10px 15px; padding: 0;}
.download_files_db li {      border-bottom: solid 1px #999; padding: 15px 0;  font-size: 15px;  color: #000; }
.download_files_db li a { color:#000; font-size: 16px;}

.additional_field_b .filed_inside select,
.additional_field_b .filed_inside select option { text-align: center;}

.disable_btn {    background: #676767 !important;   color: #b1b1b1 !important;   cursor: none; }

.page-template-login-template#contact_page .contact-form { float:none; }
@media (min-width: 768px) {
	.navbar #navbar .navbar-right li.signup a { margin-right: 10px; }
}
@media (max-width: 767px) {
	.navbar #navbar ul.navbar-right li.user a {
		padding: 17px 15px 16px 15px;
	}
	.navbar #navbar ul.navbar-right li.user a img { 
		display:none;
	}
}

.navbar-header { padding: 8px; }
ul#menu-footer-menu { padding-left:0;}
.dashboard_content .image_block {
	overflow: hidden;
    height: 262px;
}

p.found_phone {
    margin-bottom: 0;
}

